<a href="https://colab.research.google.com/github/ashwinsubu/CSOutreachInstructor/blob/main/PythonSummerCamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
y = '4.5' # a single char a string of len 1
z = 3.5 #
print(z)
z = 'hello' #replace
print(z,z,z,z,z,z,z,z,22,333)
z = 3.5
print(z)
x = float("5.4")
a =  str(z+x)
#boolean
d = "dog"
b = True
t = str(b) +"         " +  d
#print(type(t), t)

#print(12 > 3)
#print()
#print(4 > 7)

#boolean - Yes or No-> True or False

#type casting int(someVariable) #camelCaseCamelCase
#print(x,z,y,"Jason",x,x,x,x,x,x,x,x,x,x,x,x)
#print(z + x, type(z + x))

#<class 'str'> True dog

3.5
hello hello hello hello hello hello hello hello 22 333
3.5

In [ ]:
a = 2
b = 2
c = 5
d = 6

if d == b:
  print("d and b are equal")
  print("line 2")
elif a != b:
  print("a and b are equal")
else:
  print("d and b NOT equal")
  print("Line 2 of else")
  x=5
  if x == c:
    print("Jason")
  if b+3 == c:
    print("Elizabeth")
  else:
    print("Ameena")
  
print("Goodbye")

# and, or, ==, >=, >, <=, <, is, is not
#conditions if-else
age = 

#age 1-100
#less than 10 print i am in kindergarten
#age between 10 and 25, print i am in school
#age is between 15-20, print i am SMART
#age greater 40, print I AM SO OLD
#otherwise print I am {38}  years old

d and b NOT equal
Line 2 of else
Jason
Elizabeth
Goodbye

In [ ]:
#negative age -> print 'age cant be negative'
age = -5
if age < 0:
  print("NO NEGATIVES")
if age < 10:
  print("i am in  kindergarten")
elif 10<=age<=25: #age>=10 and age<=25:  #nested-if: elif or if inside another if
  print("i am in school")
  if 15<= age <= 20: #
    print("i am SMART")
if age>40:
  print("I am SO OLD")
else:
  print("I am", age, "years old")

NO NEGATIVES
i am in  kindergarten
I am -5 years old

In [ ]:
a=8
b=4
#% is called "MOD"
#remainder of 8/4 ?

print("A") if a%b==0 else print("B") #short hand if-else, one liner!

A

In [ ]:
#LOOPS: for, while
#i<10?
#10<10?
#odd numbers? 1,3,5,7,9,11,13....25? print in one line with ","
#1, 2, 3, 4, 5,6, 7,8,9 -> all even numbers are divisible by 2, odd numbers are not divisible by 2

# !=, ==, <=, >=, <,>
#number % 2 == 0 its an even number
#check the condition-> if statements? inside the for loop
# for i in range(5,11): #range(start,end); if u dont give start, start=0 by default
  # print("Devika",i, end=",")


#print A 8 times with space in one line
#A A A A A A A A A

# for i in range(1,9):
#   print("A",end=" ")


#print this: 
#3A, 4A, 5A, 6A, 7A, 8A, 9A, 10A, 11A
# for i in range(3,12):
#   print(i, "A",end=", ")

# print(" ")

# for i in range(3,12):
#   print(str(i) + "A",end=", ")


#print "Elliot 1, Elliot 2.. Elliot 4" 4 times and next 4 must print "Jason 5, Jason 6,.. Jason 8" one LOOP!

3 A, 4 A, 5 A, 6 A, 7 A, 8 A, 9 A, 10 A, 11 A,
3A, 4A, 5A, 6A, 7A, 8A, 9A, 10A, 11A,

Elliot 1, Elliot 2, Elliot 3, Elliot 4, Jason 5, Jason 6, Jason 7, Jason 8,

In [ ]:
for i in range(1,9):
  if i<=4:
    print("Elliot", i ,end=", ")
  else:
    print("Jason", i, end=", ")



# range 4-18
# 4-10 Kiran number,
# 11-14 Fayyad number,
# 15-18 Ameena number,
# Kiran 4, Kiran 5...Kiran 10, Fayyad 11,... Fayyad 14, Ameena 15,...Ameena 18 
# one line printout and one for loop

Elliot 1, Elliot 2, Elliot 3, Elliot 4, Jason 5, Jason 6, Jason 7, Jason 8,

In [ ]:
for i in range(4,19):
  if i<=10:
    print("Kiran",i,end=", ")
  elif i in range(11,15):
    print("Fayyad",i, end=", ")
  else:
    print("Ameena", i, end=", ")

Kiran 4, Kiran 5, Kiran 6, Kiran 7, Kiran 8, Kiran 9, Kiran 10, Fayyad 11, Fayyad 12, Fayyad 13, Fayyad 14, Ameena 15, Ameena 16, Ameena 17, Ameena 18,

In [ ]:
#inner for loops
# print("hi i j")
for i in range(1,10):
  for j in range(1,10):
    print(j)

In [ ]:
#patterns: 8x8 star using 2 for loops
for i in range(9):
  for j in range(9):
    print("*", end=" ")
  print()

* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *
* * * * * * * * *

In [ ]:
# 8 rows
# *
# * *
# * * *
# * * * *
# * * * * *

for i in range(8):
  for j in range(0,i):
    print("*", end="")
  print()

*
**
***
****
*****
******
*******

In [ ]:
# for i in range(1,15,5): #range(start, end, jump)
#   print(i)

for i in range(9,0,-1):
  for j in range(0,i):
    for k in range (0,j):
      print("i=",i,", j=",j, ",k =",k)
    print("------", end="\n")
  print()

# 9 rows 9 cols:
# *********
# ********
# *******
# *****
# ****
# ***
# **
# *

# -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9

In [ ]:
#while loops
#do something while a condition is true


i=1
while i<4:
  print(i,"<",4,i<8)
  i=i+1

print(i,"<",4, i<4,", outside while loop")

QN1.
#Devika 1, Devika 2, ... Devika 8

QN2.
*
**
***
****
8 rows 8 columns
with 2 while loops


QN3. 
******
*****
****
***
**
use 2 while loops

1 < 4 True
2 < 4 True
3 < 4 True
4 < 4 False , outside while loop

In [ ]:
i=1
while i<=8:
  print("Devika",i,end=", ")
  i=i+1

Devika 1, Devika 2, Devika 3, Devika 4, Devika 5, Devika 6, Devika 7, Devika 8,

In [ ]:
i=8
while i>=0:
  j=0
  while j<i:
    print("*", end=" ")
    j = j+1
  print()
  i=i-1

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
i=0
while i<=8:
  j=0
  while j<i:
    print("*", end="")
    j = j+1
  print()
  i=i+1

*
**
***
****
*****
******
*******
********

In [ ]:
#looping from 1 to 20, 13 get out of the loop
#break statement : BREAK
#skip a number 6 : CONTINUE
i=1
while i<=20:
  if i == 6:
    i += 1
    continue
  print(i)
  if i==13:
    break #breaking out of the while loop
  #i =i+ 1
  i+=1
print("Value of i=", i)

1
2
3
4
5
7
8
9
10
11
12
13
Value of i= 13

In [ ]:
# x=30
# if x in range(20,40): # if <condition>
#   print("x is in the range")

for i in range(1,4):
  print("i=",i)
else:
  print("end of that for")
x=0
while x<=4:
  print("x=",x)
  x+=1
else:
  print("x is done with WHILE")

i= 1
i= 2
i= 3
end of that for
x= 0
x= 1
x= 2
x= 3
x= 4
x is done with WHILE

In [ ]:
#ARRAYS
# multiple values in an array
#first index starts at 0
# p=[0,1,2,3,4,5]
x = [3,4,6,8,2,1]
# print(x)
xy0="Elliot"
xy1="Ameena"

xy = [xy0, xy1, "Jason", "Devika","Rahul", "Munana"]
xy[4] = "Fayyad"
# print(xy[4])
# print(xy)
# print(len(xy))

# for name in xy:
#   print(name)

#so if you use a while loop, loop using an index
i=0
while i<len(xy):
  print(xy[i])
  i=i+1

#ASSIGNMENT
#Store 
# colors 9
# when the you're at the 5th color you skip it
# and when you are at the 7th color you STOP/ TERMINATE
# loop and print out all the colors in the ARRAY
# #1. for
# #2. while

Elliot
Ameena
Jason
Devika
Fayyad
Munana

In [ ]:
#FAYYAD'S CODE
colors = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Purple', 'Black', 'White']
i=0
for name in colors:
  if i == 4:
    i = i + 1
    continue
  elif i == 7:
    break 
  print(name, end=' ')
  i=i+1
#>>>>>>>
print() 
print("the LAST VALUE in NAME variable is",name)
print("the LAST VALUE in i variable is",i)
# name: -, -, -, -, -, -, -,Black
# i: -, -, -,-,-,-,-,7
# colors:['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo',  'Purple', X'Black', 'White']

Red Orange Yellow Green Indigo Purple
the LAST VALUE in NAME variable is Black
the LAST VALUE in i variable is 7

In [ ]:
colors = ['Red', 'Orange', 'Yellow', 'Green', 'Blue', 'Indigo', 'Purple', 'Black', 'White','Brown'] #len(colors)
#use a while or a for loop and
#change all colors to white: 'WHITE' in the colors array

#loop over the colors array and print all the colors, one below the other

#2 loops total
#1st loop to change the color
#2nd loop to display colors separate lines
#example:
#xy = ['some string1', 'something2', "Jason", "Devika","Rahul", "Munana"]
# xy[4] = "Fayyad"

In [ ]:
array = [32, 'Orange', 'Yellow', 4.5, '5.6', [1,2,3], True, 'Black', False,'Brown'] #2Dimensional array

print(array[5])

numbers=[1,2,3]

[1, 2, 3]

In [ ]:
            # ar0       ar1        ar2
numbers=[ [1,2,3], [4,5,6,12], [7,8,9] ] #2D array
i=len(numbers)-1
while i>=0:
  j = len(numbers[i])-1
  while j>=0:
    print(numbers[i][j], end=" ")
    j=j-1
  print() #new line
  i=i-1


# i: -,1
# j: -,-,1

9 8 7
12 6 5 4
3 2 1

In [ ]:
list1 = [2,4,5,6,7]
# print("Size of the list=", len(list1))
#APPEND
list1.append(8) #add some data to the end of the list/array
list1.append("Ashwin") 
list1.append("Ameena")
list1.append(3.45)
# print("Size of the list=", len(list1))
# print(list1)

#CLEAR
list1.clear() #clears or removes all elements from the list
# print("List1 after clear:", list1)
list1 = [2,4,5,6,7]

#POP
list1.append("Ashwin")
# print(list1)
# print(list1.pop())  #POP removes the last element from the list
# print(list1.pop(2))   #pop( input ), the input is the index in the array/list
# print(list1)

#REMOVE - removes the first occurence of that value, input=value
list1 = ["ashwin",4,"ameena",6,"devika",4.5,"ameena", "ameena",4,4,4,4,4,4]
list1.remove(4) #value
# print("after removing 4",list1)
# list1.pop(4)  #index
# print(list1)

#DEL
list1 = ["ashwin",4,"ameena",6,"devika",4.5]
del list1[2]
# print(list1)
del list1
# print("list1 after del", list1)


#INSERT (adds data in between the list, input=index)
list1 = ["ashwin",4,"ameena",6,"devika",4.5]
# list1.insert(2,"Elizabeth")
# print(list1)

#for loop to find the value 4 in the list1

# for x in list1:
#   print(x,"==","devika", x=="devika")
#   if x=="devika":
#     print(True)
#     break

# if "devika" in list1: print(True) #short-hand ifs

list1 = [1,2,3]
list2 = ["a",'b','c']
#use a loop to keep appending to the end of list1
#add data from list2
#so, iterate/loop thru list2 and add to list1 and finally print list1
#output: 1,2,3,a,b,c

#for each variable in list2, append that var to list1
# for var in list2:
#   list1.append(var)
# list3 = list1 + list2
list1.extend(list2) # appendALL elements of list2,; input = a new list
# print(list1)


#SORT
list1 = [5,1,6,2,3,9,0,8] #sorted?
list1.sort()
# print(list1)

#INDEX(input=value)
list1 = ["ashwin",4,"ameena",6,"devika",4.5,"ameena","ameena"]
# print(list1.index("ameena"))  #First occurence of the input-value

#for loop to find the number of "ameenas" in list1; loop thru list1
#variable count, increase count every time you see ameena
#print count

#for each var in list1, if that var == "ameena" then increase count by 1
# count=0
# list1.append("ameena")
# for var in list1:
#   if var=="ameena":
#     count = count+1
# print(count)

# print(list1.count("ameena"))  #count() is a method(), function()

print(list1)
list1.reverse() #reverses the list
print(list1)

['ashwin', 4, 'ameena', 6, 'devika', 4.5, 'ameena', 'ameena']
['ameena', 'ameena', 4.5, 'devika', 6, 'ameena', 4, 'ashwin']

In [ ]:
#Strings are also lists/arrays
x = "EliZaBeth" #array/list
# print(x[3])
#loop through x which is a string and print as shown below, "end="
#E, l, i, z, a, b, e, t, h, 

#for each letter in String x, print letter, 
# for letter in x:
#   print(letter, end=", ")

i=0
# print(x[0],x[1],x[2],x[3],x[4],x[5],x[6],x[7],x[8])
# while i<len(x):
#   print(x[i], end=", ")
#   i+=1

# x = x + " Ameena"
# x = x.strip() #STRIP removes extra spaces from the beginning and the end
# print(len(x), x)

# x = x.lower()
# x = x.upper()
# print(x)

#Elisabeth
# print(x.index("z"))
# x[3] = 's' #this wont work, throws error
# x = x.replace("z","s")  #replaces all occurences of a character with the given character
print(x)
print(x.swapcase()) # swaps the case upper to lower, lower to upper case

EliZaBeth
eLIzAbETH

In [ ]:
string = "Jason is Very smart"
#find "very" in the string, True False
#is very in the string? -> Yes or No
string=string.swapcase();
print(string)
#in, not in
b = "Ameena" not in string
print(b)

jASON IS vERY SMART
True

In [ ]:
#FORMAT
string="ashwin age is {}, and he scored {} in the test, and he eats {} ice creams a day."
age=12
score=[99.999, 9,"wooohooo"]
icecreams=20
string = string.format(age, score, icecreams)
# print(string)
# print(type(score))

string = string.capitalize()
# print(string)

# print(string.index("he")) #first occurence of input-value = he
# print(string.find("he"))  #similar to index(input)

string1 = "ashwin"
# print(string1.endswith("win"))
# print(string1.islower())
# print(string1.isupper())

string2 = "123123123"
# 5 #digit? 
# print(string2.isdigit())  #gives True if all the characters are numbers/digits

print(string)
# string.count("[")

Ashwin age is 12, and he scored [99.999, 9, 'wooohooo'] in the test, and he eats 20 ice creams a day.

In [ ]:
          -6,-5,-4,-3,-2,-1,0,1,2,3,4,5,6
          
          "012345"  #positive index
          "654321"  #negative index
string1 = "ashwin"
print(string1[1:-2]) #substring/ splicing
print(string1[1:4]) #substring/ splicing
print(string1[-5:4])
print(string1[-5:-2])

shw
shw
shw
shw

In [ ]:
#FUNCTIONS/ METHODS
#range(start, end)
#append(val)
#print(inputssss)
#inputs are called parameters/ arguments of the function/method/procedure
def ashwinFunc():
  string = " and I am tall!"
  string2 = ", and i am {} years old..."
  age = 12.3
  print("My name is Ashwin" + string + string2.format(age))
  

ashwinFunc()

My name is Ashwin and I am tall!, and i am 12 years old...

In [ ]:
def showString(name, age):  #definition of method
  txt = "and my age is {}"
  txt = txt.format(age)
  print("My name is",name, txt)

#call the above func

def loopFunc():
  ages = [11,12,13,15,18,11,12,14]
  names=["Ameena","Ashwin","Fayyad","Elizabeth","Elliot","Rahul","Jason","Devika"]
  i = 0
  while i < len(ages):
    showString(names[i], ages[i]) #call of the method
    i=i+1
 
 #i: -,-,-,8
loopFunc()
#def loopFunc(): #no parameters
# while loop and loop thru both arrays and call showString(input1, input2)
#call showString in a while loop INSIDE your loopFunc():

My name is Ameena and my age is 11
My name is Ashwin and my age is 12
My name is Fayyad and my age is 13
My name is Elizabeth and my age is 15
My name is Elliot and my age is 18
My name is Rahul and my age is 11
My name is Jason and my age is 12
My name is Devika and my age is 14

In [ ]:
x = 31
def showString(name, age):
  txt = "and my age is {}"
  txt = txt.format(age)
  print("My name is",name, txt)
def loopFunc():
  ages = [11,12,13,15,18,11,12,14]
  names=["Ameena","Ashwin","Fayyad","Elizabeth","Elliot","Rahul","Jason","Devika"]
  x=0
  print("local x=",x)
  while x < len(ages):
    showString(names[x], ages[x])
    x = x + 1

print("global x=",x)
loopFunc()

global x= 31
local x= 0
My name is Ameena and my age is 11
My name is Ashwin and my age is 12
My name is Fayyad and my age is 13
My name is Elizabeth and my age is 15
My name is Elliot and my age is 18
My name is Rahul and my age is 11
My name is Jason and my age is 12
My name is Devika and my age is 14

In [ ]:
def multiply(n1, n2):
  return n1*n2
def addition(n1,n2):
  return n1+n2
def division(n1,n2):
  return n1/n2
def subtraction(n1,n2):
  return n1-n2
def calculator(n1, n2, operation):
  if operation == "add":
    return addition(n1,n2)
  elif operation =="multiply":
    return multiply(n1,n2)
  elif operation=="divide":
    return division(n1,n2)
  elif operation=="subtract":
    return subtraction(n1,n2)
  else:
    return "WRONG OPERATION"
  
x=6
y=4
adder = calculator(x,y,"add")
muler = calculator(x,y,"multiply")
diver = calculator(x,y,"divide")
suber = calculator(x,y,"subtract")
rando = calculator(x,y,"blahblah")

print("add=",adder)
print("mul=",muler)
print("div=",diver)
print("sub=",suber)
print("rand=", rando)


# mul = multiply(2,4)
# print(mul, type(mul))




#def calculator():
# n1, n2, operation -> 3 parameters
# operation : 'add', 'subtract', 'multiply', 'divide'
#calc(3,4,'add')
#print al these variables

add= 10
mul= 24
div= 1.5
sub= 2
rand= WRONG OPERATION

In [ ]:
# ANSWER 1:
# 1 
# 2 2 
# 3 3 3 
# 4 4 4 4 

def myPatternFunction(number):
  num = 0
  for i in range(0, number):
    num += 1
    for j in range (0, i+1):
      print(num, end=" ")
    print()

myPatternFunction(5)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#ANSWER 2
# 1 2 3 4 5 
# 1 2 3 4 
# 1 2 3 
# 1 2 
# 1 
def myPatternFunctionInverted(number):
  for i in range(number, 0 , -1):
    for j in range(1, i+1):
      print(j, end=" ")
    print()

myPatternFunctionInverted(9)

1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
#ANSWER 3:
list1 = [3,4,5,2,'a','f',"ash", 4.4,'s',True]

def myListLen(list1):
  count=0
  for var in list1:
    count+=1
  return count

print("my list len function:",myListLen(list1))
print("Python list len func:", len(list1))

my list len function: 10
Python list len func: 10

In [ ]:
# ANSWER 4
#for each var in list if the val == var return its index
def myIndex(list1, val):
  index=0
  for var in list1:
    if val == var:
      return index
    index+=1


list1 = [3,4,5,2,'a','f',"ash", 4.4,'a']
myIndex(list1, 'a')

4

In [ ]:
# ANSWER 5
#count() in string
def countCharacter(string1, char):
  count=0
  for x in string1:
    if char == x:
      count+=1
  return count

countCharacter("eeefheeeelleoeee", "e")

11

In [ ]:
#ANSWER 6
# Create a method “def WeighingScale(weight):“
# That takes a ‘weight’ input parameter and prints the following
# If the weight is less than 50.3 then print “Underweight”
# If the weight is between 50.4 and 121.5 print “Normal”
# If the weight is more than 200.2 print “obese”
# Otherwise print “overweight”

def weighingScale(weight):
  if weight<50.3:
    print("Underweight")
  elif weight>=50.4 and weight<=121.5:
    print("Normal")
  elif weight>200.2:
    print("Obese")
  else:#121.6---200.1
    print("Overweight")

#0---50.3 50.4-----121.5    200.2------>>>>
# var=weighingScale(6)
print(type(weighingScale(6)))
# print("50.2->", weighingScale(50.2))
# print("50.4->", weighingScale(50.4))
# print("200.3->", weighingScale(200.3))
# print("121.6", weighingScale(121.6))
# print("200.1->", weighingScale(200.1))

#50.2-> Underweight

Underweight
<class 'NoneType'>

In [ ]:
def add(a,b):
  return a+b
#Return gives/returns a value that can be assigned to any variable

def noReturn(a,b):
  print(a+b)

x = add(2,4)

#void is the return type. nothing to return
#when a func has nothing to return, its called a void func 'None'
# 1. name of the variable :?
# 2. type of the variable :?
# 3. value in the variable :?
string1 = "print-x" #this one
#all parameters in a function are variables? YES

def someMathFunc(a,b):  #re-used
  sum=0
  for x in range(0,12):
    sum += x*a
    a = b*a
  return sum
  
def anotherMathFunc(a):
  b = a
  for i in range(44, 88):
    b=b-i
  return b

def func3(a):
  return (a- 44)/5

var = someMathFunc(2,4)

anotherVar = var*4/12

anotherVar2 = func3(anotherVar)

anotherVar3 = anotherMathFunc(anotherVar2)

x = anotherMathFunc(anotherVar3)

y= anotherMathFunc(x)

print(y) #x??????????????????????????????????????????????

7944988.4

In [ ]:
numbers=[ [1,2,3], [4,5,6], [7,8,9] ] #2D array
# Use 2 nested loops (2 while loops one inside the other) to print
# 3 2 1
# 6 5 4
# 9 8 7

for i in range(0, len(numbers)):
  for j in range(len(numbers[i]) - 1, -1, -1):
    print(numbers[i][j], end=" ")
  print()

3 2 1
6 5 4
9 8 7

In [ ]:
def returnListFunc():
  list1 = [2,3,4,1]
  return list1

#lists are also variables that have many variables inside it

# for x in [3,4,7,9,2]:
  # print(x)

# list2 = returnListFunc()
# print(list2)

# Create a myRange(start, end)

#what type should myRange() return to be able to looop
for x in myRange(3,7): #myRange(3,10) -> range(3,10)
  print(x, end=" ") #must print 3 4 5 6 7 8 9

#output:
#def myRange(3,10)
#3 4 5 6 7 8 9

3 4 5 6

In [ ]:
#myRANGE()
#start:3
#someList : 2,3,4,
#positive/ negative jump
def myRange(start, end, jump):
  someList=[]
  boolean = jump < 0 and start > end
  if boolean:
    while start>end:
      someList.append(start)
      start = start + jump
    return someList
  else:
    while start<end:
      someList.append(start)
      start+=jump
    return someList  

for x in myRange(-4,-20,-4):
  print(x, end=" ")

-4 -8 -12 -16

In [ ]:
def myRange(start, end, interval):
  list1 = []
  x = start
  if interval > 0:
    while x < end:
      list1.append(x)
      x = x + interval
  elif interval < 0:
   while x > end:
    list1.append(x)
    x = x + interval 
  return list1
for x in myRange(-4, -20, -4):
  print(x, end = " ")

-4 -8 -12 -16

In [ ]:
# ANSWER 1:
# 1 
# 2 2 
# 3 3 3 
# 4 4 4 4 

def myPatternFunction(number):
  num = 0
  for i in myRange(0, number):
    num += 1
    for j in range(0, i+1):
      print(num, end=" ")
    print()

myPatternFunction(5)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5